*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    min-height: 100vh;
    background: white;
}

.container .image-container{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    padding: 10px;
}
.container .image-container .image{
    height: 500px;
    width:500px;
    border:10px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;

}
.container .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
    z-index: -1;
}

.container .image-container .image:hover img{
    transform: scale(1.1);
}

.container .popup-image{
    position: fixed;
    top:0; left:0;
    background:rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.container .popup-image span{
    position: absolute;
    top:0; 
    right:10px;
    font-size: 60px;
    font-weight: bolder;
    color:#fff;
    cursor: pointer;
    z-index: 100;
}
.container .popup-image img{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius:5px;
    width:750px;
    object-fit: cover;
}
@media (max-width:768px){
    .container .popup-image img{
        width: 95%;
    }
}


/* searchbox */
.search-box input{
    width: 90%;
    height: 50px;
    font-size: 25px;
    font-family: sans-serif;
    border-radius: 12px;
}
button .fa-solid{
    width:25px;
    color:#555;
    font-size:22px;
    cursor:pointer;
}
.row{
    display:flex;
    align-items:center;
    padding: 10px 20px;
}
input{
    flex:1;
    height:50px;
    background:transparent;
    font-size: 18px;
    border-color: black;
}
button{
    background: transparent;
    border: 0;
    

}
::placeholder{
    color:#555;
}
.result-box ul{
    border-top:1px solid #999;
    padding:15px 10px;
}
.result-box ul li{
    list-style:none;
    border-radius:3px;
    padding:15px 10px;
    cursor:pointer;
}
.result-box ul li:hover{
    background: #e9f3ff;
}
.result-box{
    max-height:300px;
    overflow-y:scroll;
}

/* navigation bar */
.menu_bar{
    background-color: black;
    color: white;
    height:80px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:0 5%;
}
.logo{
    color:white;
    font-size:25px;
    font-family: sans-serif;
}
.menu_bar ul { 
    list-style: none;
    display:flex;
}
.menu_bar ul li{
    padding:10px 30px;
    position:relative;
}
.menu_bar ul li a{
     color: white; 
     text-decoration:none; 
     font-size: 20px; 
     transition: all 0.3s;
}
.menu_bar ul li:hover, .menu_bar ul li a:hover{ 
    color:blue;
}
.dropdown_menu{ 
    display:none;
}
.menu_bar ul li:hover .dropdown_menu{ 
    display:block; 
    position: absolute;
    z-index: 2; 
    left:0;
    top:100%; 
    background-color: black; 
}
.menu_bar ul li:hover .dropdown_menu a{
    display:block;
    margin:20px;
  
}
 .dropdown_menu a{
    width:150px;
    padding:10px;
 }
 .dropdown_menu .dropbtn{
    
    width:150px;
    padding:10px;
 }